.note {
  gap: var(--s-4);
  padding-block: var(--s-7);
}

.title {
  font-size: clamp(1.375rem, 1.1rem + 0.9vw, 1.875rem);
  line-height: 1.15;
  letter-spacing: -0.022em;
  font-weight: 600;
  max-width: 20em;
}


@media print {
  .note {
    padding-block: 10pt;
  }
}
